body {
    margin: 25px;
}

section {
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

.db-table {
    padding: 25px;
    margin-top: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    padding-top: 20px;border-top: 1px solid #ccc;
}

.permission-level {
    background-color: #eee;
    padding: 5px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}